.glitchdiv-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-image: url(assets/menuglitch.png);
  background-size: cover;
  cursor: pointer;
}

.glitchdiv-child {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
